/* src/components/Layout.css */
.layout-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar-nav {
    width: 250px;
    background-color: #660809;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .sidebar-nav .nav-link {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
  }
  
  .sidebar-nav .nav-link:hover {
    background-color: #990c12;
  }
  
  .content {
    flex-grow: 1;
    background-color: white;
    padding: 20px;
    overflow-y: auto;
  }
  